app/storage/
/auth.json
auth.json
bootstrap/compiled.php
.claude/
.DS_Store
.env
.env.backup
.env.production
/.fleet
Homestead.json
Homestead.yaml
/.idea
*.log
/node_modules
node_modules/
/.nova
npm-debug.log
.phpactor.json
/.phpunit.cache
.phpunit.result.cache
/public/build
/public/hot
public/hot
public_html/hot
public_html/storage
/public/storage
public/storage
/storage/*.key
storage/*.key
/storage/pail
Thumbs.db
/.vagrant
/vendor
/vendor/
.vscode/
/.vscode
yarn-error.log
/.zed
